PORT=5002
MONGO_URI=mongodb://localhost:27017/live-syntax
FRONTEND_URL=http://localhost:3000
GROQ_API_KEY=your_groq_api_key_here
JDOODLE_CLIENT_ID=your_jdoodle_client_id
JDOODLE_CLIENT_SECRET=your_jdoodle_client_secret
